<a href="https://colab.research.google.com/github/gauravkv95/Tableau-Projects/blob/master/Analysis%20on%20NETFLIX%20Dataset%20using%20Tableau/Analysis%20on%20NETFLIX%20Dataset%20using%20Tableau.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src = 'https://github.com/insaid2018/Term-1/blob/master/Images/INSAID_Full%20Logo.png?raw=true' width="240" height="360" align = 'center'>

# **Processing of Netflix and IMDB Dataset for analysis using TABLEAU**


<img src = 'https://github.com/gauravkv95/Tableau-Projects/blob/master/Analysis%20on%20NETFLIX%20Dataset%20using%20Tableau/Netflix_Logo.png?raw=true' width="800" height="500" align = 'center'>

## Table of Contents

1. [Importing Packages](#section1)<br>
2. [Loading Data](#section2)<br>
  - 2.1 [Importing Netflix Dataset](#section201)<br>
  - 2.2 [Importing IMDB Datasets](#section202)<br>
  - 2.3 [Merging IMDB and Netflix Datasets](#section203)<br>
3. [Data Preprocessing](#section3)<br>
4. [Export Dataset for Analysis](#section4)<br>
  - 4.1 [Export processed NETFLIX-IMDB Dataset for analysis](#section401)<br>
  - 4.2 [Export processed NETFLIX_Country Dataset for analysis](#section402)<br>
  - 4.3 [Export processed NETFLIX_Genre Dataset for analysis](#section403)<br>

<a id=section1></a>
## 1. Importing Packages

In [2]:
import numpy as np                     

import pandas as pd
pd.set_option('mode.chained_assignment', None)      # To suppress pandas warnings.
pd.set_option('display.max_colwidth', -1)           # To display all the data in each column
pd.options.display.max_columns = 50                 # To display every column of the dataset in head()

import warnings
warnings.filterwarnings('ignore')                   # To suppress all the warnings in the notebook.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  """

### Mount Google Drive

In [29]:
# Mount Google Drive
from google.colab import drive # import drive from google colab

ROOT = "/content/drive"     # default location for the drive
print(ROOT)                 # print content of ROOT (Optional)

drive.mount(ROOT)           # we mount the google drive at /content/drive

/content/drive
Mounted at /content/drive

<a id=section2></a>
## 2. Loading Data

In this **Data Visualization** sheet we are doing analysis of movies and tv shows present in of **Netflix** OTT Platform. For this analysis we will use Netflix Dataset and IMDB Datasets to gain insights on our data.

<a id=section201></a>
### 2.1 Importing Netflix Dataset

In [4]:
# Importing the 1st dataset (Netflix Movies and TV Shows).

df_netflix = pd.read_csv('https://media.githubusercontent.com/media/gauravkv95/Data-Science-Projects/master/Project%20Datasets/Netflix%20Content%20Dataset/Raw%20Dataset/netflix_titles.csv')
df_netflix.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole Howard, Jennifer Cameron, Jonathan Holmes, Lee Tockar, Lisa Durupt, Maya Kay, Michael Dobson","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies","Before planning an awesome wedding for his grandfather, a polar bear king must take back a stolen artifact from an evil archaeologist first."
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,"Jandino Asporaat riffs on the challenges of raising kids and serenades the audience with a rousing rendition of ""Sex on Fire"" in his comedy show."

In [5]:
df_netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6234 non-null   int64
 1   type          6234 non-null   object
 2   title         6234 non-null   object
 3   director      4265 non-null   object
 4   cast          5664 non-null   object
 5   country       5758 non-null   object
 6   date_added    6223 non-null   object
 7   release_year  6234 non-null   int64
 8   rating        6224 non-null   object
 9   duration      6234 non-null   object
 10  listed_in     6234 non-null   object
 11  description   6234 non-null   object
dtypes: int64(2), object(10)
memory usage: 584.6+ KB

<a id=section202></a>
### 2.2 Importing IMDB Datasets

For this EDA we have taken below mentioned datasets from [IMDb data sets repository](https://www.imdb.com/interfaces/Load). The dataset is in .tsv format which we will use and save into dataframe. 

Information courtesy of IMDb (http://www.imdb.com). Used with permission. 

The two datasets are:

    "title.basics.tsv.gz" - From this dataset the names of Movies/TV Shows and release year is taken.
    "title.ratings.tsv.gz" - From this dataset the ratings for the titles are taken.

Both datasets have 'tconst' column which contains unique id for each content. Using this column we will merge above datasets.

#### Importing IMDB Basics Dataset

In [7]:
# Importing the 2nd dataset (Title Basics dataset of IMDB).

df_imdb_basics=pd.read_csv("https://media.githubusercontent.com/media/gauravkv95/Data-Science-Projects/master/Project%20Datasets/Netflix%20Content%20Dataset/Raw%20Dataset/title.basics.tsv/data.tsv", sep='\t', low_memory=False, na_values=["\\N"])
df_imdb_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894.0,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892.0,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892.0,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892.0,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893.0,NaN,1,"Comedy,Short"

In [8]:
df_imdb_basics.info(null_counts=True)     # info of original imdb_basics dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6746319 entries, 0 to 6746318
Data columns (total 9 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   tconst          6746319 non-null  object
 1   titleType       6746319 non-null  object
 2   primaryTitle    6746305 non-null  object
 3   originalTitle   6746305 non-null  object
 4   isAdult         6746319 non-null  int64
 5   startYear       6256175 non-null  float64
 6   endYear         59181 non-null    float64
 7   runtimeMinutes  1961319 non-null  object
 8   genres          6215529 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 463.2+ MB

#### Cleaning IMDB_Basics dataset

In [9]:
# Removing unwanted column from dataframe
df_imdb_basics= df_imdb_basics[['tconst','primaryTitle','originalTitle','startYear']]
df_imdb_basics.head()

      tconst            primaryTitle           originalTitle  startYear
0  tt0000001  Carmencita              Carmencita              1894.0
1  tt0000002  Le clown et ses chiens  Le clown et ses chiens  1892.0
2  tt0000003  Pauvre Pierrot          Pauvre Pierrot          1892.0
3  tt0000004  Un bon bock             Un bon bock             1892.0
4  tt0000005  Blacksmith Scene        Blacksmith Scene        1893.0

In [10]:
# Converting values in startYear column from float64 to int64
df_imdb_basics = df_imdb_basics.dropna(subset=['startYear'])

df_imdb_basics['startYear']= df_imdb_basics['startYear'].astype(np.int64)

In [11]:
df_imdb_basics.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6256175 entries, 0 to 6746318
Data columns (total 4 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         6256175 non-null  object
 1   primaryTitle   6256161 non-null  object
 2   originalTitle  6256161 non-null  object
 3   startYear      6256175 non-null  int64
dtypes: int64(1), object(3)
memory usage: 238.7+ MB

#### Importing IMDB Ratings Dataset

In [12]:
# Importing the 3rd dataset (Title Ratings dataset of IMDB).

df_imdb_ratings=pd.read_csv("https://media.githubusercontent.com/media/gauravkv95/Data-Science-Projects/master/Project%20Datasets/Netflix%20Content%20Dataset/Raw%20Dataset/title.ratings.tsv/data_rating.tsv", sep='\t', low_memory=False, na_values=["\\N"])
df_imdb_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001  5.6            1608
1  tt0000002  6.0            197
2  tt0000003  6.5            1286
3  tt0000004  6.1            121
4  tt0000005  6.1            2051

In [13]:
df_imdb_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030874 entries, 0 to 1030873
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1030874 non-null  object
 1   averageRating  1030874 non-null  float64
 2   numVotes       1030874 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 23.6+ MB

#### Merging both IMDB Datasets

In [14]:
df_imdb = pd.merge(left= df_imdb_basics, right= df_imdb_ratings, on= 'tconst', how = 'inner')
df_imdb.head()

,tconst,primaryTitle,originalTitle,startYear,averageRating,numVotes
0,tt0000001,Carmencita,Carmencita,1894,5.6,1608
1,tt0000002,Le clown et ses chiens,Le clown et ses chiens,1892,6.0,197
2,tt0000003,Pauvre Pierrot,Pauvre Pierrot,1892,6.5,1286
3,tt0000004,Un bon bock,Un bon bock,1892,6.1,121
4,tt0000005,Blacksmith Scene,Blacksmith Scene,1893,6.1,2051

In [15]:
df_imdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1030741 entries, 0 to 1030740
Data columns (total 6 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1030741 non-null  object
 1   primaryTitle   1030741 non-null  object
 2   originalTitle  1030741 non-null  object
 3   startYear      1030741 non-null  int64
 4   averageRating  1030741 non-null  float64
 5   numVotes       1030741 non-null  int64
dtypes: float64(1), int64(2), object(3)
memory usage: 55.0+ MB

<a id=section203></a>
### 2.3 Merging IMDB and Netflix Datasets

In [16]:
#Before merging we will have to convert all values in Movie Name column in both Netflix and IMDB dataset to lower case.

df_netflix['title']= df_netflix['title'].str.lower()
df_imdb['originalTitle']= df_imdb['originalTitle'].str.lower()
df_imdb['primaryTitle']= df_imdb['primaryTitle'].str.lower()

In [17]:
df_netflix_imdb= pd.merge(left= df_netflix, right= df_imdb, left_on=['title', 'release_year'], right_on=['primaryTitle', 'startYear'], how='left')
df_netflix_imdb.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,tconst,primaryTitle,originalTitle,startYear,averageRating,numVotes
0,81145628,Movie,norm of the north: king sized adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole Howard, Jennifer Cameron, Jonathan Holmes, Lee Tockar, Lisa Durupt, Maya Kay, Michael Dobson","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies","Before planning an awesome wedding for his grandfather, a polar bear king must take back a stolen artifact from an evil archaeologist first.",tt9428190,norm of the north: king sized adventure,norm of the north: king sized adventure,2019.0,3.1,258.0
1,80117401,Movie,jandino: whatever it takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,"Jandino Asporaat riffs on the challenges of raising kids and serenades the audience with a rousing rendition of ""Sex on Fire"" in his comedy show.",tt6999080,jandino: whatever it takes,jandino: whatever it takes,2016.0,5.2,18.0

In [18]:
# Dropping Duplicate Columns

df_netflix_imdb= df_netflix_imdb.drop(['tconst','primaryTitle','originalTitle','startYear'], axis = 1) 
df_netflix_imdb.rename(columns = {'averageRating':'IMDB Average Rating'}, inplace = True)
df_netflix_imdb.set_index('show_id', inplace=True)
df_netflix_imdb.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB Average Rating,numVotes
show_id,,,,,,,,,,,,,
81145628,Movie,norm of the north: king sized adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole Howard, Jennifer Cameron, Jonathan Holmes, Lee Tockar, Lisa Durupt, Maya Kay, Michael Dobson","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies","Before planning an awesome wedding for his grandfather, a polar bear king must take back a stolen artifact from an evil archaeologist first.",3.1,258.0
80117401,Movie,jandino: whatever it takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,"Jandino Asporaat riffs on the challenges of raising kids and serenades the audience with a rousing rendition of ""Sex on Fire"" in his comedy show.",5.2,18.0
70234439,TV Show,transformers prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, Jeffrey Combs, Kevin Michael Richardson, Tania Gunadi, Josh Keaton, Steve Blum, Andy Pessoa, Ernie Hudson, Daran Norris, Will Friedle",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autobots once again protect Earth from the onslaught of the Decepticons and their leader, Megatron.",NaN,NaN
80058654,TV Show,transformers: robots in disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, Khary Payton, Mitchell Whitfield, Stuart Allan, Ted McGinley, Peter Cullen",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,"When a prison ship crash unleashes hundreds of Decepticons on Earth, Bumblebee leads a new Autobot force to protect humankind.",NaN,NaN
80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins, Keith Powers, Alicia Sanz, Jake Borelli, Kid Ink, Yousef Erakat, Rebekah Graf, Anne Winters, Peter Gilroy, Patrick Davis",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,"When nerdy high schooler Dani finally attracts the interest of her longtime crush, she lands in the cross hairs of his ex, a social media celebrity.",5.2,5023.0

In [19]:
df_netflix_imdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6844 entries, 81145628 to 70153404
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   type                 6844 non-null   object
 1   title                6844 non-null   object
 2   director             4721 non-null   object
 3   cast                 6237 non-null   object
 4   country              6341 non-null   object
 5   date_added           6833 non-null   object
 6   release_year         6844 non-null   int64
 7   rating               6834 non-null   object
 8   duration             6844 non-null   object
 9   listed_in            6844 non-null   object
 10  description          6844 non-null   object
 11  IMDB Average Rating  4889 non-null   float64
 12  numVotes             4889 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 748.6+ KB

In [20]:
# Percentage of missing data before pre-processing
total = df_netflix_imdb.isnull().sum().sort_values(ascending=False)
percent = ((df_netflix_imdb.isnull().sum()/df_netflix_imdb.isnull().count())*100).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
#missing_data.head(20)
print(missing_data)

                     Total    Percent
director             2123   31.019871
numVotes             1955   28.565167
IMDB Average Rating  1955   28.565167
cast                 607    8.869082
country              503    7.349503
date_added           11     0.160725
rating               10     0.146113
description          0      0.000000
listed_in            0      0.000000
duration             0      0.000000
release_year         0      0.000000
title                0      0.000000
type                 0      0.000000

<a id=section3></a>
## 3. Data Preprocessing

In [21]:
# Remove duplicate rows.

df_netflix_imdb.drop_duplicates(inplace=True)

In [22]:
 # Convert data in 'date_added' column from object to datetime and add a year and month column

df_netflix_imdb['date_added'] = pd.to_datetime(df_netflix_imdb['date_added'])
df_netflix_imdb['year_added'] = df_netflix_imdb['date_added'].dt.year
df_netflix_imdb['month_added'] = df_netflix_imdb['date_added'].dt.month

In [23]:
# Addressing Numeric Columns with missing values

df_netflix_imdb['IMDB Average Rating'].fillna(df_netflix_imdb['IMDB Average Rating'].mean(), inplace= True)
df_netflix_imdb['numVotes'].fillna(df_netflix_imdb['numVotes'].median(), inplace= True)

In [24]:
# Addressing Categorical Columns with missing values

df_netflix_imdb['director'].fillna(df_netflix_imdb['director'].mode()[0], inplace= True)
df_netflix_imdb['country'].fillna(df_netflix_imdb['country'].mode()[0], inplace= True)
df_netflix_imdb['cast'].fillna(df_netflix_imdb['cast'].mode()[0], inplace= True)
df_netflix_imdb['rating'].fillna(df_netflix_imdb['rating'].mode()[0], inplace= True)

In [25]:
df_netflix_imdb.describe(include= 'all')

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB Average Rating,numVotes,year_added,month_added
count,6842,6842,6842,6842,6842,6831,6842.000000,6842,6842,6842,6842,6842.000000,6.842000e+03,6831.000000,6831.000000
unique,2,6169,3301,5469,553,1189,NaN,14,201,461,6226,NaN,NaN,NaN,NaN
top,Movie,love,"Raúl Campos, Jan Suter",David Attenborough,United States,2020-01-01 00:00:00,NaN,TV-MA,1 Season,Documentaries,Superheroes amass to stop intergalactic sociopath Thanos from acquiring a full set of Infinity Stones and wiping out half of all life in the universe.,NaN,NaN,NaN,NaN
freq,4709,14,2140,630,2784,160,NaN,2256,1464,316,9,NaN,NaN,NaN,NaN
first,NaN,NaN,NaN,NaN,NaN,2008-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2020-01-18 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,2013.412160,NaN,NaN,NaN,NaN,6.529323,1.637090e+04,2018.001464,6.812180
std,NaN,NaN,NaN,NaN,NaN,NaN,8.597546,NaN,NaN,NaN,NaN,1.042300,7.872791e+04,1.200536,3.641795
min,NaN,NaN,NaN,NaN,NaN,NaN,1925.000000,NaN,NaN,NaN,NaN,1.600000,5.000000e+00,2008.000000,1.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,2013.000000,NaN,NaN,NaN,NaN,6.200000,3.512500e+02,2017.000000,3.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,2016.000000,NaN,NaN,NaN,NaN,6.529323,9.940000e+02,2018.000000,7.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,2018.000000,NaN,NaN,NaN,NaN,7.100000,2.591000e+03,2019.000000,10.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,2020.000000,NaN,NaN,NaN,NaN,10.000000,1.951015e+06,2020.000000,12.000000

In [26]:
#Percentage of missing data after pre-processing
total = df_netflix_imdb.isnull().sum().sort_values(ascending=False)
percent = ((df_netflix_imdb.isnull().sum()/df_netflix_imdb.isnull().count())*100).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
#missing_data.head(20)
print(missing_data)

                     Total   Percent
month_added          11     0.160772
year_added           11     0.160772
date_added           11     0.160772
numVotes             0      0.000000
IMDB Average Rating  0      0.000000
description          0      0.000000
listed_in            0      0.000000
duration             0      0.000000
rating               0      0.000000
release_year         0      0.000000
country              0      0.000000
cast                 0      0.000000
director             0      0.000000
title                0      0.000000
type                 0      0.000000

<a id=section4></a>
## 4 Export Dataset for Analysis

<a id=section401></a>
### 4.1 Export processed NETFLIX-IMDB Dataset for analysis

In [33]:
# Export processed NETFLIX-IMDB Dataset for analysis
df_netflix_imdb.to_excel('/content/drive/My Drive/Colab Notebooks/Tableau Projects/Netflix Data Analysis/Processed Datasets/Netflix_IMDB_Datasets.xlsx', sheet_name='NETFLIX_IMDB_DATA', index = True)

<a id=section402></a>
### 4.2 Export processed NETFLIX_Country Dataset for analysis

In [34]:
# Many contents contain more than one Country in country column. 
#This step splits the countries in sepearate rows and put in a seperate dataframe.

from itertools import chain

# return list from series of comma-separated strings
def chainer(s):
    return list(chain.from_iterable(s.str.split(',')))

# calculate lengths of splits
lens = df_netflix_imdb['country'].str.split(',').map(len)

# create new dataframe, repeating or chaining as appropriate
split_country = pd.DataFrame({'title': np.repeat(df_netflix_imdb['title'], lens),
                              'country': chainer(df_netflix_imdb['country'])                       
                    })

split_country['country']=split_country['country'].str.strip()

In [35]:
split_country.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8423 entries, 81145628 to 70153404
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    8423 non-null   object
 1   country  8423 non-null   object
dtypes: object(2)
memory usage: 197.4+ KB

In [36]:
split_country['country'].replace('', np.nan, inplace=True)
split_country.dropna(subset=['country'], inplace=True)

In [37]:
split_country.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8421 entries, 81145628 to 70153404
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    8421 non-null   object
 1   country  8421 non-null   object
dtypes: object(2)
memory usage: 197.4+ KB

In [38]:
split_country.to_excel('/content/drive/My Drive/Colab Notebooks/Tableau Projects/Netflix Data Analysis/Processed Datasets/Netflix_Country.xlsx', sheet_name='Netflix_Country',index = True)

<a id=section403></a>
### 4.3 Export processed NETFLIX_Genre Dataset for analysis

In [39]:
# Many contents contain more than one Genres in listed_in column. 
#This step splits the Genres in sepearate rows and put in a seperate dataframe.

from itertools import chain

# return list from series of comma-separated strings
def chainer(s):
    return list(chain.from_iterable(s.str.split(',')))

# calculate lengths of splits
lens = df_netflix_imdb['listed_in'].str.split(',').map(len)

# create new dataframe, repeating or chaining as appropriate
genres_df = pd.DataFrame({'title': np.repeat(df_netflix_imdb['title'], lens),
                           'genres': chainer(df_netflix_imdb['listed_in'])                       
                    })

genres_df['genres']=genres_df['genres'].str.strip()
genres_df

,title,genres
show_id,,
81145628,norm of the north: king sized adventure,Children & Family Movies
81145628,norm of the north: king sized adventure,Comedies
80117401,jandino: whatever it takes,Stand-Up Comedy
70234439,transformers prime,Kids' TV
80058654,transformers: robots in disguise,Kids' TV
...,...,...
70281022,a young doctor's notebook and other stories,British TV Shows
70281022,a young doctor's notebook and other stories,TV Comedies
70281022,a young doctor's notebook and other stories,TV Dramas
70153404,friends,Classic & Cult TV
70153404,friends,TV Comedies

In [40]:
genres_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15058 entries, 81145628 to 70153404
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   15058 non-null  object
 1   genres  15058 non-null  object
dtypes: object(2)
memory usage: 352.9+ KB

In [41]:
genres_df['genres'].replace('', np.nan, inplace=True)
genres_df.dropna(subset=['genres'], inplace=True)

In [42]:
genres_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15058 entries, 81145628 to 70153404
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   15058 non-null  object
 1   genres  15058 non-null  object
dtypes: object(2)
memory usage: 352.9+ KB

In [43]:
genres_df.to_excel('/content/drive/My Drive/Colab Notebooks/Tableau Projects/Netflix Data Analysis/Processed Datasets/Netflix_Content_Genres.xlsx', sheet_name='Netflix_Genres', index = True)